<% if user_signed_in? %>
    <ul class="navbar">
      <li class="navbar-all-items"><%= link_to "Home", root_path, class: "navbar-item" %></li>
      <li class="navbar-all-items"><%= link_to "New Post", new_post_path, class: "navbar-item" %></li>
      <li class="navbar-all-items" style="float:right"><%= link_to current_user.name, 
      edit_user_registration_path, class: "navbar-item" %></li>
     <li class="navbar-all-items" style="float:right"><%= link_to "Log Out", 
     destroy_user_session_path, method: :delete, class: "navbar-item" %></li>
    </ul>
<% else %>
    <ul class="navbar">
      <li class="navbar-all-items"><%= link_to "Home", root_path, class: "navbar-item" %></li>
      <li class="navbar-all-items" style="float:right"><%= link_to "Log In", new_user_session_path, 
      class: "navbar-item" %></li>
     <li class="navbar-all-items" style="float:right"><%= link_to "Sign Up", new_user_registration_path, 
     class: "navbar-item" %></li>
    </ul>
<% end %>